CUSTODIA_ENV=local
CUSTODIA_SERVICE_NAME=custodia-server

DATABASE_URL=postgresql://custodia:custodia@postgres:5432/custodia

KEYCLOAK_REALM=custodia
KEYCLOAK_BASE_URL=http://keycloak:8080
KEYCLOAK_CLIENT_ID=custodia-server

JAEGER_ENDPOINT=http://jaeger:4318
